.catalog{
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  max-width: 1000px;
  justify-content: space-between;
}
.card{
  flex: 0 0 32%;
  padding: 20px;
  background: #eee;
  font: 16px/18px Arial, Helvetica, sans-serif;
  color: #000;
  margin: 0 0 20px;

  &__img{
    margin: 0 0 15px;
  }

  img{
    max-width: 100%;
    height: auto;
    vertical-align: top;
  }

  &__description{
    display: block;
    font-size: 22px;
    line-height: 24px;
    margin: 0 0 10px;
  }

  &__row{
    display: flex;
    justify-content: space-between;
  }
}
